*{
    margin: 0px;
    padding: 0px;
}
.navagation{
    background-color: black;
}
ul{
    display: flex;
}
li a{
    text-decoration: none;
    padding: 20px 20px;
}


















































